:root {
    --background-color: #2E948A;
    --text-color: #FF4081;
    --title-color: #009688;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.cabeça {
    display: flex;
    padding: 10px;

}

header a {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    color: white;
}

main article h1{
    color: var(--title-color);
    font-size: 47px;
    font-weight: 700;
    width: 512px;
}

main article h3{
    font-size: 20px;
    font-weight: 300;
    width: 461px;
}

.inicio{
    display: flex;
    flex-wrap: wrap;
    margin-left: 239px;
    margin-top: 50px;
}

.retangulo {
    width: 518px;
    height: 259px;
    background-color: #c4c4c4;
    margin-bottom: 20px;
}

.conteudos h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.conteudos h4{
    font-size: 17px;
    font-weight: 300;
    width: 516px;
}

.conteudos{
    padding: 50px;
}

.blogs{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

footer {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3rem;
}

footer a {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

footer button {
    background-color: var(--background-color);
    border-radius: 62px;
    border: 2px solid;
    border-color: white;
    width: 289px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 13px;
}


@media (max-width: 810px) {
    .inicio{
        margin-left: 20px;
    }

    main article h1{
        font-size: 35px;
        width: auto;
    }

    main article h3{
        width: auto;
    }

    .retangulo{
        width: 300px;
        height: 180px;
    }

    .conteudos h4{
        width: auto;
    }

    .blogs{
        width: auto;
        padding: 0;
    }

    footer button {
        width: 100%;
    }
}

@media (max-width: 410px) {
    .inicio aside{
        display: none;
    }
}