:root {
    --background-color: #2E948A;
    --text-color: #FF4081;
    --title-color: #009688;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.cabeça {
    display: flex;
    padding: 10px;

}

header a {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    color: white;
}

.contato{
    display: flex;
    flex-wrap: wrap;
}

main{
    margin-left: 17%;
}

main picture{
    display: flex;
}

main h1{
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
}

fieldset{
    border: 0;
}

input{
    border-radius: 7px;
    border: 1px solid;
    color: #686868;
    padding: 5px;
    width: 500px;
    margin: 1px;
}

input#mensagem{
    height: 193px;
}

#envio{
    background-color: var(--text-color);
    color: white;
    border: none;
    border-radius: 50px;
    width: 108px;
    height: 32px;
    margin: 20px;
    margin-left: 0;
}

footer {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3rem;
}

footer a {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

footer button {
    background-color: var(--background-color);
    border-radius: 62px;
    border: 2px solid;
    border-color: white;
    width: 289px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 13px;

}

@media (max-width: 810px) {

    main{
        margin-left: 6%;
    }

    input{
        width: 80%;
    }

    footer button {
        width: 100%;
    }

    form{
        position: relative;
    }

    .contato{
        flex-direction: column;
    }

}


@media (max-width: 475px) {
    main picture{
        display: none;
    }

    input{
        width: 75%;
    }
}