:root {
    --background-color: #2E948A;
    --text-color: #FF4081;
    --title-color: #009688;
}

* {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #c4c4c4;
}

header {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.cabeça {
    display: flex;
    padding: 10px;

}

header a {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    color: white;
}



.first{
    display: flex;
    flex-direction: column;
    margin-right: 112px;
}

.divi{      
    margin-top: 30px;
    margin-bottom: 30px;
}

.first .divi{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.first .divi section{
    margin-bottom: 50px;
    justify-content: center;
}

.first section h1{
    color: var(--text-color);
    font-size: 55px;
    font-weight: 700;
    width: 461px;
    margin: 15px;
    margin-left: 53px;
}

.first section h3{
    width: 461px;
    font-size: 20px;
    font-weight: 300;
    margin: 15px;
    margin-left: 53px;
}




footer {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 3rem;
}

footer a {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

footer button {
    background-color: var(--background-color);
    border-radius: 62px;
    border: 2px solid;
    border-color: white;
    width: 289px;
    height: 33px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 13px;

}